<!doctype html>
{% load i18n %}
{% load assets %}
{% load icanhaz %}
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>{% block page_title %}{% trans "Schmetterling" %}{% endblock %}</title>

    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    <meta name="author" content="{% block meta_author %}{% endblock %}" />

    {% assets "css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}

    {% block css %}{% endblock %}

    <script src="{{ STATIC_URL }}js/modernizr-2.0.js"></script>

    {% icanhaz "boxTemplate" %}
    {% icanhaz "leafTemplate" %}
    {% icanhaz "leavesTemplate" %}
    {% icanhaz "boxesTemplate" %}
    {% icanhaz "boxNameFromTemplate" %}
    {% icanhaz "droppedLeafTemplate" %}

</head>

<body class="{% block body_class %}{% endblock %}">
{% block body %}
    <div id="container" class="container">
      <div id="top" class="span-24 last">
        <h2>Rackspace Minus </h2>
        <span>["Some JavaScript Bullshit" - Russell Haering]</span>
      </div>
      <div id="cp" class="span-24 last">
        <p> Control panel goes here</p>
      </div>

      <div id="boxes" class="span-12">
      </div>
      <div id="leaves" class="span-12 last">
      </div>
    </div> <!-- end of #container -->


    {% if debug %}{% include 'includes/debug.html' %}{% endif %}
    {% assets "js_lib" %}
      <script type ="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script>
    LEAF_API = "{%url api_dispatch_list api_name="v1" resource_name="leaf" %}?format=json";
    BOX_API = "{%url api_dispatch_list api_name="v1" resource_name="box" %}?format=json";
    PERSON_API = "{%url api_dispatch_list api_name="v1" resource_name="person" %}?format=json";
    </script>
    {% assets "backbone" %}
      <script type ="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script type="text/javascript">
      $(function() {
        App.init();
      });
    </script>
    <!--[if lt IE 7 ]>
    <script src="{{ STATIC_URL }}js/dd_belatedpng.js"></script>
    <script> DD_belatedPNG.fix('img, .png_bg');</script>
    <![endif]-->
{% endblock %}
</body>
</html>
